#navBar {
  background-color: #f5b7b1;
}

a {
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 102, 0, 0.842);
}

.firstImageOfMe {
  background: url(./imagesforproject/pic2.jpeg) no-repeat;
  width: 100%;
  height: 800px;
  /* background-size: cover; */
  background-position: right;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  padding-top: 350px;
  padding-left: 100px;
  text-align: right;
  /* margin-top: 200px; */
  color: rgba(255, 102, 0, 0.842);
  font-family: "Courier New";
  font-weight: 250;
  font-size: 40px;
}

.aboutMeHeader {
  margin-top: 2%;
  color: rgba(255, 102, 0, 0.842);
  font-family: "Courier New";
  text-align: center;
  font-size: x-large;
}

h2 {
  text-align: center;
  color: rgba(255, 102, 0, 0.842);
}

.row {
  color: #f39289;
  display: flex;
  font-family: "Courier New", "Courier New", Courier, monospace;
}

#portfolio {
  font-family: "Courier New", Courier, monospace;
  color: #f5938a;
  padding-top: 15px;
}

.card {
  border: solid 25px #f5b7b1;
  /* background-color: rosybrown; */
}

.textarea {
  padding: 1px 2px;
  margin: 2;
}

#contact {
  border-color: #f5b7b1;
  width: 1000px;
}

#textArea {
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-color: #f5b7b1;
  width: 1000px;
  height: 200px;
}

h3 {
  font-size: 40px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-stretch: expanded;
  color: #f5b7b1;
}
.icons {
  padding-top: 20px;
  justify-content: space-around;
  /* margin: 25px; */
  padding: 25px;
  font-size: 100px;
  display: flex;
}

.submit {
  font-family: "Courier New", Courier, monospace;
  width: 200px;
  color: rgba(255, 102, 0, 0.842);
  background-color: #f5e4b1;
}

footer {
  padding-top: 25px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
