#navBar {
  background-color: #f5b7b1;
}

a {
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 102, 0, 0.842);
}

.firstImageOfMe {
  background: url(./imagesforproject/pic2.jpeg) no-repeat;
  width: 100%;
  height: 1500px;
  /* background-size: cover; */
  background-position: right;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  padding-top: 400px;
  padding-left: 400px;
  text-align: right;
  /* margin-top: 200px; */
  color: rgba(255, 102, 0, 0.842);
  font-family: "Courier New";
  font-weight: 700;
  font-size: 35px;
}

.aboutMeHeader {
  margin-top: 5%;
  color: rgba(255, 102, 0, 0.842);
  font-family: "Courier New";
  text-align: center;
}

.row {
  color: #f39289;
  display: flex;
  font-family: "Courier New", "Courier New", Courier, monospace;
}

#portfolio {
  font-family: "Courier New", Courier, monospace;
  color: #f39289;
  padding-top: 50px;
}

footer {
  padding-top: 25px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
